.MyButton {
  cursor: pointer;
  border: none;
  padding: 8px 16px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  transition: all 0.3s;
  background-color: rgb(231, 76, 60);
  min-width: 100px;

  &:hover {
    filter: contrast(150%);
  }
}
