.Header__row {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 12px;
  flex: 1 1 auto;
}

.HeaderActions {
  display: flex;
  flex-direction: rows;
  gap: 20px;
}

.HeaderCart,
.HeaderFavorites {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 30px;
}